@charset "UTF-8";

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

button:active,
button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

/* Magnific Popup CSS */

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #CCC;
}

.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */

img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */

.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@font-face {
  font-family: "OpenSansBold";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansReg";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1210px;
  padding: 0 30px;
  margin: auto;
  /* Landscape tablets and medium desktops */
  /* Portrait tablets and small desktops */
  /* Landscape phones and portrait tablets */
  /* Portrait phones and smaller */
  /* Iphone 5 */
}

.container-header {
  /* Landscape tablets and medium desktops */
}

body {
  font-family: "OpenSansReg";
  font-size: 14px;
  color: #414141;
}

.wrapper {
  padding: 0 0 200px 0;
  background: url("../img/Background.png") top right no-repeat;
}

.wrapper2 {
  background: url("../img/bg2.png") top center no-repeat;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.row_sb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.row_ctr {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header {
  font-family: "OpenSansBold";
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  padding: 25px 0 0 0;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  z-index: 8;
}

.header__body {
  position: relative;
}

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70px;
  flex: 0 0 70px;
  overflow: hidden;
  position: relative;
  z-index: 11;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__phone {
  z-index: 11;
  margin-left: 250px;
}

.header__phone:before {
  content: "";
  display: block;
  background: url("../img/phone.png") center center no-repeat;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 10px 0 0;
}

.header__burger {
  display: none;
}

.header__list {
  position: relative;
  text-align: center;
  z-index: 8;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 40px;
}

.header__list li a {
  text-decoration: none;
  color: #414141;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__list li a:hover {
  color: #FF006B;
}

.header__button {
  z-index: 11;
}

.header__button a {
  padding: 14px 28px;
  font-size: 12px;
  color: white;
  background: -o-linear-gradient(354.61deg, #FD2C84 9.68%, #FF006B 90.14%);
  background: linear-gradient(95.39deg, #FD2C84 9.68%, #FF006B 90.14%);
  -webkit-box-shadow: 0px 0px 30px rgba(253, 44, 132, 0.2);
  box-shadow: 0px 0px 30px rgba(253, 44, 132, 0.2);
  border-radius: 22px;
  text-decoration: none;
  font-family: "OpenSansBold";
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.header__button a:hover {
  background: -o-linear-gradient(354.61deg, #ff0d72 9.68%, #d4035a 90.14%);
  background: linear-gradient(95.39deg, #ff0d72 9.68%, #d4035a 90.14%);
}

.header.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header.active:before {
  background-color: #E7F1FF;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.hero {
  height: 700px;
}

.hero {
  padding: 150px 0 0 0;
}

.hero__content {
  margin: 0 0 150px 0;
  max-width: 352px;
}

.hero__content h1 {
  font-size: 36px;
  line-height: 49px;
  font-family: "OpenSansBold";
}

.hero__content h1 span {
  color: #FF006B;
}

.hero__desc {
  margin: 15px 0 50px;
}

.hero__button a {
  padding: 14px 54px;
  font-size: 12px;
  color: white;
  background: -o-linear-gradient(354.61deg, #FD2C84 9.68%, #FF006B 90.14%);
  background: linear-gradient(95.39deg, #FD2C84 9.68%, #FF006B 90.14%);
  -webkit-box-shadow: 0px 0px 30px rgba(253, 44, 132, 0.2);
  box-shadow: 0px 0px 30px rgba(253, 44, 132, 0.2);
  border-radius: 22px;
  text-decoration: none;
  font-family: "OpenSansBold";
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.hero__button a:hover {
  background: -o-linear-gradient(354.61deg, #ff0d72 9.68%, #d4035a 90.14%);
  background: linear-gradient(95.39deg, #ff0d72 9.68%, #d4035a 90.14%);
}

.hero__advantages {
  max-width: 630px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.hero__advantage {
  font-weight: 600;
  color: #FF006B;
  font-size: 18px;
}

.hero__advantage:before {
  content: "";
  display: block;
  background: url("../img/checkmark.png") center center no-repeat;
  width: 30px;
  height: 30px;
  float: left;
  margin: 0 10px 0 0;
}

.hero__wrap {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 640px;
  flex: 0 0 640px;
}

.slick-track {
  padding: 0 0 0 20px;
}

.hero-services {
  max-width: 840px;
  margin: 60px 0 100px 0;
}

.hero-services__text {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
}

.hero-services__title {
  margin: 0 0 15px 0;
}

.hero-services__title h2 {
  font-family: "OpenSansBold";
  font-size: 36px;
  line-height: 35px;
}

.hero-services__desc {
  font-family: "OpenSansReg";
  color: #78797A;
  font-size: 14px;
  line-height: 19px;
}

.hero-item {
  background: -o-linear-gradient(312.92deg, #FFFFFF 1.81%, #E7F1FF 98.43%);
  background: linear-gradient(137.08deg, #FFFFFF 1.81%, #E7F1FF 98.43%);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 28px 23px 23px 23px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
}

.hero-item__title h2 {
  font-size: 20px;
  line-height: 27px;
  font-family: "OpenSansBold";
  margin: 12px 0 5px 0;
}

.hero-item__title:before {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 0 0 -6px;
}

.zamer-title:before {
  background: url("../img/calculator.png") center center no-repeat;
}

.dostavka-title:before {
  background: url("../img/delivery-truck.png") center center no-repeat;
}

.ustanovka-title:before {
  background: url("../img/open-box.png") center center no-repeat;
}

.slick-active {
  opacity: 1 !important;
}

.category {
  font-family: "OpenSansBold";
}

.category__text {
  max-width: 525px;
  margin: 70px 0 55px 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.category__title {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 278px;
  flex: 0 0 278px;
  margin: 0 0 15px 0;
  margin: 0 28px 15px 0;
}

.category__title h2 {
  font-family: "OpenSansBold";
  font-size: 36px;
  line-height: 35px;
}

.category__desc {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 215px;
  flex: 0 0 215px;
  font-family: "OpenSansReg";
  color: #78797A;
  font-size: 14px;
  line-height: 19px;
}

.category__container {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px 40px -15px;
}

.category__button {
  text-align: center;
}

.category__button a {
  padding: 14px 42px;
  font-size: 12px;
  color: white;
  background: -o-linear-gradient(354.61deg, #FD2C84 9.68%, #FF006B 90.14%);
  background: linear-gradient(95.39deg, #FD2C84 9.68%, #FF006B 90.14%);
  -webkit-box-shadow: 0px 0px 30px rgba(253, 44, 132, 0.2);
  box-shadow: 0px 0px 30px rgba(253, 44, 132, 0.2);
  border-radius: 22px;
  text-decoration: none;
  font-family: "OpenSansBold";
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.category__button a:hover {
  background: -o-linear-gradient(354.61deg, #ff0d72 9.68%, #d4035a 90.14%);
  background: linear-gradient(95.39deg, #ff0d72 9.68%, #d4035a 90.14%);
}

.cat-item {
  position: relative;
  background: -o-linear-gradient(270.54deg, #FFFFFF 71.64%, #F9FBFF 99.57%);
  background: linear-gradient(179.46deg, #FFFFFF 71.64%, #F9FBFF 99.57%);
  -webkit-box-shadow: 0px 0px 30px rgba(2, 107, 255, 0.15);
  box-shadow: 0px 0px 30px rgba(2, 107, 255, 0.15);
  border-radius: 15px;
  padding: 21px 26px;
  margin: 0 15px 30px 15px;
}

.cat-item__picture {
  max-width: 286px;
}

.cat-item__picture img {
  width: 100%;
}

.cat-item__title {
  margin: 5px 0 5px 6px;
}

.cat-item__title h3 {
  font-size: 24px;
  line-height: 33px;
}

.cat-item__price {
  font-size: 24px;
  line-height: 33px;
  color: #FF006B;
  margin: 0px 0px 0px 6px;
}

.cat-item__arrow {
  position: absolute;
  width: 20px;
  height: 16px;
  background: url("../img/arrow.png") center center no-repeat;
  right: 34px;
  bottom: 21px;
}

.steps {
  padding: 150px 0 150px 0;
}

.steps__container {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.steps__text {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  margin: 0 30px 0 0;
}

.steps__title {
  margin: 0 0 15px 0;
  margin: 0 28px 15px 0;
}

.steps__title h2 {
  font-family: "OpenSansBold";
  font-size: 36px;
  line-height: 35px;
}

.steps__desc {
  font-family: "OpenSansReg";
  color: #78797A;
  font-size: 14px;
  line-height: 19px;
}

.steps__block {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 640px;
  flex: 1 1 640px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.steps-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 310px;
  flex: 0 0 310px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  position: relative;
  text-align: center;
  padding: 78px 0 40px 0;
  max-height: 310px;
  margin: 10px;
}

.steps-item__title h3 {
  font-size: 20px;
  line-height: 27px;
  font-family: "OpenSansBold";
  margin: 30px 0 14px 0;
}

.steps-item__title:before {
  content: "";
  display: inline-block;
  width: 64px;
  height: 64px;
}

.steps-item__desc {
  max-width: 233px;
  margin: auto;
}

.steps-item__num {
  position: absolute;
  width: 40px;
  height: 40px;
  color: white;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  display: table;
}

.steps-item__num span {
  display: table-cell;
  vertical-align: middle;
}

.white {
  background: white;
}

.white .steps-item__title:before {
  background: url("../img/24hours.png") center center no-repeat;
}

.white .steps-item__num {
  background-color: #414141;
}

.blue {
  background: #C8DFFF;
  margin-bottom: -95px;
}

.blue .steps-item__title:before {
  background: url("../img/calculator.png") center center no-repeat;
}

.blue .steps-item__num {
  background-color: #62A3FF;
}

.pink {
  background: #FF9EC7;
}

.pink .steps-item__title:before {
  background: url("../img/boxes.png") center center no-repeat;
}

.pink .steps-item__num {
  background-color: #FD2C84;
}

.black {
  background: #5F5F5F;
  color: white;
  margin-bottom: -95px;
}

.black .steps-item__title:before {
  background: url("../img/barcode.png") center center no-repeat;
}

.black .steps-item__num {
  background-color: white;
  color: #414141;
}

.reviews {
  padding: 90px 0 0 0;
}

.reviews__container {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 0 40px 0;
}

.reviews__title {
  margin: 0 0 15px 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 465px;
  flex: 0 1 465px;
}

.reviews__title h2 {
  font-family: "OpenSansBold";
  font-size: 36px;
  line-height: 35px;
}

.reviews__desc {
  font-family: "OpenSansReg";
  color: #78797A;
  font-size: 14px;
  line-height: 19px;
  max-width: 300px;
}

.reviews__button {
  margin: 0 0 0 150px;
  padding: 14px 0;
}

.reviews__button a {
  padding: 14px 48px;
  font-size: 12px;
  color: white;
  background: -o-linear-gradient(354.61deg, #FD2C84 9.68%, #FF006B 90.14%);
  background: linear-gradient(95.39deg, #FD2C84 9.68%, #FF006B 90.14%);
  -webkit-box-shadow: 0px 0px 30px rgba(253, 44, 132, 0.2);
  box-shadow: 0px 0px 30px rgba(253, 44, 132, 0.2);
  border-radius: 22px;
  text-decoration: none;
  font-family: "OpenSansBold";
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.reviews__button a:hover {
  background: -o-linear-gradient(354.61deg, #ff0d72 9.68%, #d4035a 90.14%);
  background: linear-gradient(95.39deg, #ff0d72 9.68%, #d4035a 90.14%);
}

.reviews__arrow {
  display: inline-block;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
}

.arrow-left {
  background: #D4E6FF url("../img/arrow-left.png") center center no-repeat;
  margin: 0 10px 0 0;
}

.arrow-left:hover {
  background: #bfd8fc url("../img/arrow-left.png") center center no-repeat;
}

.arrow-left.slick-disabled {
  background: #deedff url("../img/arrow-left.png") center center no-repeat;
}

.arrow-left.slick-disabled:hover {
  background: #deedff url("../img/arrow-left.png") center center no-repeat;
}

.arrow-right {
  background: #D4E6FF url("../img/arrow-right.png") center center no-repeat;
}

.arrow-right:hover {
  background: #bfd8fc url("../img/arrow-right.png") center center no-repeat;
}

.arrow-right.slick-disabled {
  background: #deedff url("../img/arrow-right.png") center center no-repeat;
}

.arrow-right.slick-disabled:hover {
  background: #deedff url("../img/arrow-right.png") center center no-repeat;
}

.slider-item {
  background: -o-linear-gradient(312.92deg, #FFFFFF 1.81%, #E7F1FF 98.43%);
  background: linear-gradient(137.08deg, #FFFFFF 1.81%, #E7F1FF 98.43%);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  max-width: 420px;
  position: relative;
  padding: 40px 40px 30px 40px;
  margin: 5px 10px;
  opacity: 0.6;
}

.slider-item__avatar {
  height: 70px;
  width: 70px;
  -webkit-box-shadow: 0px 4px 20px #B9D6FF;
  box-shadow: 0px 4px 20px #B9D6FF;
  border-radius: 50%;
}

.slider-item__avatar img {
  width: 100%;
  border-radius: 50%;
}

.slider-item__name {
  font-size: 18px;
  line-height: 25px;
  font-family: "OpenSansBold";
  margin: 18px 0 3px 0;
}

.slider-item__geo {
  font-size: 14px;
  line-height: 19px;
  color: #97C2FF;
  margin: 0 0 18px 0;
}

.slider-item__text {
  line-height: 19px;
  color: #78797A;
}

.slider-item__quote {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 57px;
  top: 40px;
  background: url("../img/quote.png") center center no-repeat;
}

.form {
  padding: 190px 0 330px 130px;
}

.form__title {
  margin: 0 0 15px 0;
}

.form__title h2 {
  font-family: "OpenSansBold";
  font-size: 36px;
  line-height: 35px;
}

.form__desc {
  font-family: "OpenSansReg";
  color: #78797A;
  font-size: 14px;
  line-height: 19px;
}

.form__wrapper {
  max-width: 370px;
}

.form__body ul {
  list-style: none;
  padding: 0;
}

.form__body ul li input,
.form__body ul li textarea {
  background: white;
  border: 1px solid #FFD5E6;
  border-radius: 5px;
  width: 100%;
  max-height: 50px;
  color: #A1A1A1;
  padding: 16px;
}

.form__name {
  margin: 15px 0 13px 0;
}

.form__question {
  margin: 13px 0 30px 0;
}

.form__question textarea {
  min-height: 150px;
}

.form__button button {
  padding: 14px 50px;
  font-size: 12px;
  color: white;
  background: -o-linear-gradient(354.61deg, #FD2C84 9.68%, #FF006B 90.14%);
  background: linear-gradient(95.39deg, #FD2C84 9.68%, #FF006B 90.14%);
  -webkit-box-shadow: 0px 0px 30px rgba(253, 44, 132, 0.2);
  box-shadow: 0px 0px 30px rgba(253, 44, 132, 0.2);
  border-radius: 22px;
  text-decoration: none;
  font-family: "OpenSansBold";
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
}

.form__button button:hover {
  background: -o-linear-gradient(354.61deg, #ff0d72 9.68%, #d4035a 90.14%);
  background: linear-gradient(95.39deg, #ff0d72 9.68%, #d4035a 90.14%);
}

.footer {
  padding: 0 0 40px 0;
}

.footer__container {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__copyright {
  margin: 5px 0 0px 0;
  text-align: right;
}

.footer-item__title {
  font-family: "OpenSansBold";
  font-size: 24px;
  line-height: 33px;
}

.footer-item__list ul {
  list-style: none;
  padding: 0;
}

.footer-item__list ul li {
  margin: 10px 0;
}

.footer-item__list ul li a {
  text-decoration: none;
  color: #78797A;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-item__list ul li a:hover {
  color: #FF006B;
}

.logo-item__img {
  width: 110px;
  height: 36px;
}

.logo-item__img img {
  width: 100%;
}

.logo-item__text {
  font-size: 18px;
  line-height: 25px;
  font-family: "OpenSansBold";
  margin: 56px 0 20px 0;
}

.logo-item__social {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.logo-item__social-vk {
  background: #FF006B url("../img/vk.png") center center no-repeat;
}

.logo-item__social-inst {
  background: #FF006B url("../img/inst.png") center center no-repeat;
  margin: 0 10px;
}

.logo-item__social-fb {
  background: #FF006B url("../img/fb.png") center center no-repeat;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1300px) {
  .container-header {
    max-width: 1300px;
  }
}

@media (max-width: 1299px) {
  .container-header {
    max-width: 1299px;
  }
}

@media (max-width: 1200px) {
  .header__phone {
    margin-left: 50px;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 1140px;
  }

  .container-header {
    max-width: 1199px;
  }
}

@media (max-width: 1040px) {
  body.lock {
    overflow: hidden;
  }

  .header {
    padding: 12px 0 0 0;
  }

  .header__body {
    height: 50px;
  }

  .header__phone {
    margin: 0;
  }

  .header__burger {
    z-index: 11;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    width: 35px;
    height: 30px;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }

  .header__burger span {
    background-color: #FF006B;
    position: absolute;
    border-radius: 2px;
    -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    -o-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    width: 100%;
    height: 4px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
  }

  .header__burger span:nth-child(1) {
    top: 0px;
    left: 0px;
  }

  .header__burger span:nth-child(2) {
    top: 13px;
    left: 0px;
    opacity: 1;
  }

  .header__burger span:nth-child(3) {
    bottom: 0px;
    left: 0px;
  }

  .header__burger:not(.active):hover span:nth-child(1) {
    -webkit-transform: rotate(-3deg) scaleY(1.1);
    -ms-transform: rotate(-3deg) scaleY(1.1);
    transform: rotate(-3deg) scaleY(1.1);
  }

  .header__burger:not(.active):hover span:nth-child(2) {
    -webkit-transform: rotate(3deg) scaleY(1.1);
    -ms-transform: rotate(3deg) scaleY(1.1);
    transform: rotate(3deg) scaleY(1.1);
  }

  .header__burger:not(.active):hover span:nth-child(3) {
    -webkit-transform: rotate(-4deg) scaleY(1.1);
    -ms-transform: rotate(-4deg) scaleY(1.1);
    transform: rotate(-4deg) scaleY(1.1);
  }

  .header__burger.active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 13px;
  }

  .header__burger.active span:nth-child(2) {
    opacity: 0;
  }

  .header__burger.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 13px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #E7F1FF;
    padding: 70px 10px 20px 10px;
  }

  .header__menu.active {
    padding-top: 10%;
    top: 0;
    z-index: 10;
  }

  .header__list li {
    margin: 0px 0px 20px 0px;
  }

  .header__list {
    display: block;
  }

  .header__link {
    font-size: 24px;
  }

  .header__button.active {
    display: block;
    position: fixed;
    bottom: 30px;
    z-index: 11;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 1030px;
    padding: 0 20px;
  }

  .wrapper {
    background: url("../img/Background.png") -400px 0 no-repeat;
    padding: 0 0 300px 0;
  }

  .hero__wrap {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    display: block;
    max-width: 100%;
    overflow: visible;
  }

  .hero-services {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: baseline;
    -ms-flex-pack: baseline;
    justify-content: baseline;
    margin: 60px auto 100px auto;
  }

  .hero-services__text {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 20px 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .hero-services__title {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
  }

  .hero-services__desc {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 400px;
    flex: 0 0 400px;
    margin: 0 0 0 40px;
  }

  .hero-item {
    margin: 10px;
    max-width: 200px;
  }

  .reviews__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .reviews__text {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    margin: 0 0 40px 0;
  }

  .reviews__button {
    margin: 0 40px 0 0;
  }

  .form {
    padding: 100px 0 250px 130px;
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
  }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
  }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    -ms-transform-origin: 100%;
    transform-origin: 100%;
  }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media (max-width: 900px) {
  .steps__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .steps__text {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 700px;
    flex: 0 1 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 0 50px 0;
  }

  .steps__title {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 300px;
    flex: 0 1 300px;
    margin: 0 0 15px 0;
  }

  .steps__desc {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 400px;
    flex: 0 1 400px;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
         * Remove all paddings around the image on small screen
         */

  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }

  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }

  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 807px;
  }

  .wrapper {
    background: url("../img/Background.png") -450px 0 no-repeat;
    padding: 0 0 160px 0;
  }

  .header {
    padding: 0px 0 0 0;
  }

  .header:before {
    height: 50px;
  }

  .header__button {
    display: none;
  }

  .hero {
    padding: 80px 0 0 0;
  }

  .hero__content {
    margin: 0 auto 60px auto;
    text-align: center;
  }

  .hero__desc {
    margin: 15px 0 40px;
  }

  .hero__advantage:before {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 0;
    background: url("../img/checkmark.png") center center no-repeat;
    background-size: 30px 30px !important;
  }

  .hero__advantage {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 7px 0;
    font-size: 14px;
  }

  .hero-services {
    margin: 50px 0 80px 0;
  }

  .hero-services__text {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: baseline;
    -ms-flex-pack: baseline;
    justify-content: baseline;
  }

  .hero-services__text {
    margin: 0 0 10px;
  }

  .hero-services__title h2 {
    font-size: 26px;
    margin: 0;
  }

  .hero-item {
    padding: 21px 18px 18px 18px;
    max-width: 157px;
  }

  .hero-item__title h2 {
    font-size: 16px;
  }

  .hero-item__title:before {
    width: 40px;
    height: 40px;
    background-size: 40px 40px !important;
  }

  .hero-item__desc {
    font-size: 12px;
  }

  .category__text {
    margin: 40px 0 40px 0;
  }

  .category__title h2 {
    font-size: 26px;
    margin: 0;
  }

  .category__container {
    margin: 0 -15px 20px -15px;
  }

  .steps {
    padding: 100px 0 70 0;
  }

  .steps__title h2 {
    font-size: 26px;
    margin: 0;
  }

  .reviews__title h2 {
    font-size: 26px;
    margin: 0;
  }

  .slider-item {
    padding: 20px;
    max-width: 260px;
  }

  .slider-item__avatar {
    height: 40px;
    width: 40px;
  }

  .slider-item__name {
    font-size: 16px;
    line-height: 22px;
    margin: 14px 0 3px 0;
  }

  .slider-item__geo {
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 10px 0;
  }

  .slider-item__text {
    font-size: 10px;
    line-height: 16px;
  }

  .slider-item__quote {
    width: 50px;
    height: 50px;
    right: 30px;
    top: 20px;
    background-size: 50px 50px !important;
  }

  .form {
    padding: 100px 0 150px 130px;
  }

  .form__title h2 {
    font-size: 26px;
    margin: 0;
  }

  .footer__container {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .footer__copyright {
    text-align: center;
  }

  .footer-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    margin: 5px 5px 40px 5px;
  }

  .footer-item__title {
    font-size: 18px;
    line-height: 24px;
  }

  .footer-item__list ul li a {
    font-size: 12px;
  }

  .footer-item__list ul li {
    margin: 5px 0;
  }

  .logo-item__text {
    font-size: 14px;
    line-height: 18px;
  }

  .logo-item__social {
    width: 30px;
    height: 30px;
    background-size: 14px 14px !important;
  }
}

@media (max-width: 680px) {
  .steps-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
    max-height: 250px;
    padding: 46px 0 32px 0;
  }

  .steps-item__title h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 15px 0 12px 0;
  }

  .steps-item__desc {
    font-size: 12px;
    max-width: 200px;
  }

  .steps-item__num {
    width: 30px;
    height: 30px;
    top: 15px;
    right: 15px;
  }
}

@media (max-width: 650px) {
  .form {
    padding: 100px 0 150px 0;
  }
}

@media (max-width: 630px) {
  .hero-services__title {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .hero-services__desc {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 0;
  }
}

@media (max-width: 600px) {
  .wrapper {
    background: url("../img/Background.png") -550px 0 no-repeat;
  }
}

@media (max-width: 567px) {
  .header__menu.active {
    padding-top: 30%;
  }
}

@media (max-width: 560px) {
  .blue {
    margin-bottom: 10px;
  }

  .black {
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .hero-item {
    opacity: 0.6;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 520px;
  }

  .wrapper {
    background: url("../img/Background.png") -660px 0 no-repeat;
  }
}

@media (max-width: 376px) {
  .form {
    padding: 50px 0 80px 0;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .cat-item__title h3 {
    font-size: 18px;
    line-height: 20px;
  }

  .cat-item__price {
    font-size: 18px;
    line-height: 24px;
  }

  .steps {
    padding: 70px 0 35px 0;
  }

  .reviews {
    padding: 50px 0 0 0;
  }

  .reviews__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 0 50px 0;
  }

  .reviews__title {
    text-align: center;
  }

  .reviews__desc {
    text-align: center;
    max-width: 100%;
  }

  .reviews__button {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    text-align: center;
    margin: 0;
  }

  .reviews__arrows {
    margin: 40px 0 0 0;
  }
}

@media (max-width: 340px) {
  .header__button.active {
    left: 47%;
  }
}

@media (max-width: 328px) {
  .footer__container {
    margin: 0 -5px;
  }

  .footer-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    margin: 5px 5px 40px 5px;
  }

  .logo-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    margin: 5px 5px 40px 5px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 360px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.webp .wrapper{ background: url(../img/Background.webp) top right no-repeat; }

.webp .wrapper2{ background: url(../img/bg2.webp) top center no-repeat; }

.webp .header__phone:before{ background: url(../img/phone.webp) center center no-repeat; }

.webp .hero__advantage:before{ background: url(../img/checkmark.webp) center center no-repeat; }

.webp .zamer-title:before{ background: url(../img/calculator.webp) center center no-repeat; }

.webp .dostavka-title:before{ background: url(../img/delivery-truck.webp) center center no-repeat; }

.webp .ustanovka-title:before{ background: url(../img/open-box.webp) center center no-repeat; }

.webp .cat-item__arrow{ background: url(../img/arrow.webp) center center no-repeat; }

.webp .white .steps-item__title:before{ background: url(../img/24hours.webp) center center no-repeat; }

.webp .blue .steps-item__title:before{ background: url(../img/calculator.webp) center center no-repeat; }

.webp .pink .steps-item__title:before{ background: url(../img/boxes.webp) center center no-repeat; }

.webp .black .steps-item__title:before{ background: url(../img/barcode.webp) center center no-repeat; }

.webp .arrow-left{ background: #D4E6FF url(../img/arrow-left.webp) center center no-repeat; }

.webp .arrow-left:hover{ background: #bfd8fc url(../img/arrow-left.webp) center center no-repeat; }

.webp .arrow-left.slick-disabled{ background: #deedff url(../img/arrow-left.webp) center center no-repeat; }

.webp .arrow-left.slick-disabled:hover{ background: #deedff url(../img/arrow-left.webp) center center no-repeat; }

.webp .arrow-right{ background: #D4E6FF url(../img/arrow-right.webp) center center no-repeat; }

.webp .arrow-right:hover{ background: #bfd8fc url(../img/arrow-right.webp) center center no-repeat; }

.webp .arrow-right.slick-disabled{ background: #deedff url(../img/arrow-right.webp) center center no-repeat; }

.webp .arrow-right.slick-disabled:hover{ background: #deedff url(../img/arrow-right.webp) center center no-repeat; }

.webp .slider-item__quote{ background: url(../img/quote.webp) center center no-repeat; }

.webp .logo-item__social-vk{ background: #FF006B url(../img/vk.webp) center center no-repeat; }

.webp .logo-item__social-inst{ background: #FF006B url(../img/inst.webp) center center no-repeat; }

.webp .logo-item__social-fb{ background: #FF006B url(../img/fb.webp) center center no-repeat; }

@media (max-width: 991px){

  .webp .wrapper{ background: url(../img/Background.webp) -400px 0 no-repeat; }
}

@media (max-width: 767px){

  .webp .wrapper{ background: url(../img/Background.webp) -450px 0 no-repeat; }
}

@media (max-width: 767px){

  .webp .hero__advantage:before{ background: url(../img/checkmark.webp) center center no-repeat; }
}

@media (max-width: 600px){

  .webp .wrapper{ background: url(../img/Background.webp) -550px 0 no-repeat; }
}

@media (max-width: 480px){

  .webp .wrapper{ background: url(../img/Background.webp) -660px 0 no-repeat; }
}